<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java8Übungsbuch/src/AWT/Aufgabe41/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="AWT.Aufgabe41.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java8Übungsbuch"/>
</launchConfiguration>
